body {
    background-color: rgb(93, 80, 95);
}

h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #231F20;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

a {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

p {
    color: white;
    font-size: x-large;
    text-align: center;
    padding-top: 50px;
}

img {
    width: 50px;
}

.nav-link {
    margin-right: 25px;
}

.nav-link::after {
    content: "";
    position: flex;
    display: block;
    background: #A643BA;
    height: 3px;
    bottom: 92%;
    width: 0%;
    transition: all ease-in-out 300ms;
}

.nav-link:hover {
    color: #A643BA;
}

.nav-link:hover::after {
    width: 100%;
}

.contact {
    margin-top: auto;
}

.links {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: auto;
}
